* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

html {
  /* max-width: 1500px; */
}
/* body */
body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.basicInfo h1 {
  font-size: 3rem;
  padding: 20px;
  letter-spacing: 3px;
}

.basicInfo h3 {
  font-size: 2rem;
  padding: 20px;
  letter-spacing: 3px;
}

.avatar {
  width: 100%;
  max-width: 500px;
  height: 500px;

  background: url("./avatar.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1 0;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;

  color: rgb(35, 58, 58);
  line-height: 24px;

  letter-spacing: 0.5px;
  max-width: 800px;
}

/* main - Containers */
.introduceContainer,
.abilityContainer,
.workContainer,
.educationContainer {
  border: 3px black;
  border-radius: 2%;
  width: 300px;
  padding: 10px;
}

.introduceContainer h2,
.abilityContainer h2,
.workContainer h2,
.educationContainer h2 {
  padding: 30px 0px;
  color: lightgray;
  text-decoration: underline;
}

.introduceContainer p {
  padding: 0px 20px;
  text-indent: 2rem;
}

.abilityContainer ul,
.workContainer ul,
.educationContainer ul {
  padding: 0px 20px;
}

/* nav */
nav {
  display: flex;
  width: 100%;
  background-color: powderblue;
  position: sticky;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

nav h2 {
  padding: 20px 40px;
}

nav img {
  width: 20px;
}

nav a {
  color: white;
  font-size: 1.1rem;
}
